* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.etch-a-sketch {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

.grid {
    border: 3px solid black;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    box-sizing: border-box;
    border-top: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
}

.buttons {
    width: 13em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.size {
    display: flex;
}

.size > * {
    flex: 1;
}

button {
    font-size: large;
    padding: 1em;
    float: left;
    border: none;
    border-radius: 5px;
}

.grid-size {
    font-size: large;
    padding: 1em;
    background-color: rgb(240,240,240);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    flex: 1;
    text-align: center;
}
